body{
  font-family: sans-serlif;
  margin: 20;
  padding: 20;
}

wrapper{
background: url("Cyborg-4.jpg");
no-repeat  center;
  min-height: 100rem;
}
    

nav{
  width: 400%;
  height: 1000px;
  background-color: #0005;
  line-height: 80px;
}
  
  

  
    
  
  
